:root{
	--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--Soft-red: hsl(14, 88%, 65%);

	--Soft-violet: hsl(273, 75%, 66%);
	--Soft-blue: hsl(240, 73%, 65%);

	--Very-dark-grayish-blue: hsl(237, 12%, 33%)
	--Dark-grayish-blue: hsl(240, 6%, 50%);

	--Light-grayish-blue: hsl(240, 5%, 91%);
}

*{
	margin: 0;
	padding: 0;
}

body{
	background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
	background-repeat: no-repeat;
	height: 100vh;
	font-family: 'Kumbh Sans', sans-serif;
	Font-size: 14px;
}

section{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card{
	width: 1440px;
	max-width: 1000px;
	background-color: #fff;
	border-radius: 20px;
	display: grid;
	grid-template: 1fr / 1fr 1fr;

	box-sizing: border-box;
	height: 500px;
}

.illustration{
	display: flex;
	align-items: center;
	position: relative;
	background-image: url(./resources/images/bg-pattern-desktop.svg);
	background-repeat: no-repeat;
	background-position-x: 127%;
    background-position-y: 64%;
}

.illustration > img[alt="woman"]{
	position: relative;
	left: -20%;
	clip-path: polygon(21% 0%,100% 0%,100% 100%,21% 100%);
	/* border: 1px solid blue; */
}

.illustration > img[alt="box"]{
	position: absolute;
	top: 42%;
	left: -120px;
	/* border: 1px solid green; */
}

.FAQ {
	align-self: center;
	width: 300px;
}

.FAQ h2{
	font-size: 30px;
	padding-bottom: 30px;
	font-weight: 700;
}

.FAQ .accordion{
	border-bottom: 1px solid #ddd;
	margin: 0;
	margin-top: 10px;
	min-height: 30px;
}

.FAQ a{
	color: var(--Very-dark-desaturated-blue);
	text-decoration: none;
}

.FAQ a:hover{
	color: var(--Soft-red);
}

.FAQ p{
	margin: 20px 0;
	display: none;
	color: #838288;
	font-weight: 400;
}

.FAQ p:target{
	display: block;
}


/*media queries*/

@media screen and (max-width: 1200px){

	.card{
		display: grid;
		grid-template: 1fr 1fr / 1fr;
	}

}


#home{
	position: absolute;
	bottom: 10px;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
}



/*media queries*/

@media screen and (max-width: 1200px){
	
	.card{
		width: 375px;
		height: auto;
		grid-template: .5fr 1fr / 1fr;
	}

	.illustration{
		padding: 99px 0;
		margin: 0px 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: cover;
		background-position-y: 160%;
		background-position-x: 0;
	}

	.illustration img[alt="woman"]{
		width: 99%;
		position: absolute;
		left: auto;
		top: -67%;
		clip-path: none;
	}

	.illustration img[alt="box"]{
		width: 30%;
		top: -19%;
		left: 3%;
	}

	.FAQ{
		margin-bottom: 50px;
		position: relative;
		right: -50%;
		transform: translateX(-50%);
	}

	.FAQ > h2{
		text-align: center;
	}

}


@media screen and (max-width: 700px){}




.accordion{
	position: relative;
}

label{
	cursor: pointer;
}

label:hover ~ a{
	color: var(--Soft-red);
}
.space{
	padding-left: 20px;
}

img[alt="Arrow"]{
	transition: all 0.5s;
	float: right;
    padding-top: 4px;
}

input[type="checkbox"]{
	display: none;
}

input[type="checkbox"] + label{
	display: block;
	width: 300px;
	height: 25px;
	/* border: 1px solid #000; */
	position: absolute;
}

input[type="checkbox"]:checked ~ p{
	display: block;
}

input[type="checkbox"]:checked ~ a{
	color: var(--Very-dark-desaturated-blue);
	font-weight: 700;
}

input[type="checkbox"]:checked ~ a>img[alt="Arrow"]{
	transform: rotate(180deg);
	transition: all 0.5s;
}
